/* Abasi Constructs */
.abasi-table {
  font-size: 2em;
  text-align: center;
  border: 1px solid $anchor-color;

  tbody > tr:hover {
    color: $primary-color;
    background-color: $anchor-color;
  }

  tr { 
    border: 1px solid $anchor-color;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    td {
      border-right: 1px solid $anchor-color;

      &:last-child {
        border: none;
      }

      a {
        color: $link-color;
        transition: color 0.3s linear;
        
        &:hover {
          color: $dark-link-color;
        }
      }
    }

    th {
      border-right: 1px solid $anchor-color;
    }
  }
}

.abasi-input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

  margin-top: 10px;
}

/* Landing Page */
.abasi-login {
  padding: auto;
  align-items: center;
  justify-content: center;

  button {
    border: 1px solid $anchor-color;
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: none;
    width: 100%;
    margin-top: 10px;
  }

  .login-header {
    color: $anchor-color;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
  }

  form {
    width: 50%;
  }
}

/* Dashboard Home */
.abasi-dashboard {
  padding: auto;
  justify-content: center;
  align-items: center;

  .abasi-dashboard-tiles {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    .abasi-tile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 250px;
      text-align: center;
      background-color: $anchor-color;
      font-size: 3em;
      font-weight: bold;
      color: $primary-color;
      transition: all 0.2s linear;
      border: 1px solid $anchor-color;
      text-overflow: wrap;

      &:hover {
        border: 1px solid $anchor-color;
        color: $anchor-color;
        background: $primary-color;
      }
    }
  }
}

/* Orders */
.abasi-orders {
  padding: 10px;

  .abasi-orders-header {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }

  .abasi-orders-table {
    
  }
}

/* Assets */

/* Config */

/* Archive */